@tailwind utilities;

:root {
  /* Base Variables */
  --background: #ffffff;
  --text-color: #000000;
  --primary-accent: #2B558C;  /* Eurovision Blue */
  --secondary-accent: #33A65B; /* Eurovision Green */
  --tertiary-accent: #D9A441; /* Eurovision Yellow */
  --quaternary-accent: #D95829; /* Eurovision Orange */
  --quinary-accent: #D92525; /* Eurovision Red */
}

body {
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Overrides */
body.dark {
  --background: #121212;
  --text-color: #ffffff;
}

/* Theme-Specific Styles */
button {
  background-color: var(--primary-accent);
  transition: all 0.3s;
}

button:hover {
  background-color: var(--secondary-accent);
}

/* Dark Mode Enhancements */
body.dark button {
  border-color: var(--secondary-accent);
}

body.dark .rank-card {
  background-color: var(--quaternary-accent);
}
