@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind utilities;

/* Global Variables */
:root {
  --background: #ffffff;
  --text-color: #000000;
  --primary-accent: #2B558C; /* Eurovision Blue */
  --primary-accent-shadow: #1a2d4b;
  --secondary-accent: #33A65B; /* Eurovision Green */
  --tertiary-accent: #D9A441; /* Eurovision Yellow */
  --quaternary-accent: #D95829; /* Eurovision Orange */
  --quinary-accent: #D92525; /* Eurovision Red */
  --additional-1-accent: #94339a;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--tertiary-accent);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  height: 100%;
}

/* Button styles (example) */
.custom-button {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 24px;
  line-height: 1.4;
  color: #ffffff;
  background-color: var(--primary-accent);
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--primary-accent-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.custom-button:active {
  transform: scale(0.98);
  background-color: var(--quaternary-accent);
}

/* Extra text style */
.extra {
  font-size: 11px;
  margin-top: 4px;
  opacity: 0.8;
}

/* Connected User Circle Default Styles */
.connected-user {
  height: 2.5rem;  /* h-10 */
  width: 2.5rem;   /* w-10 */
  border-radius: 9999px; /* rounded-full */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Connected User Letter styling */
.connected-user-letter {
  font-size: 1.25rem; /* text-xl */
  font-weight: 700;   /* font-bold */
  color: var(--text-color);
}



.user-bg-1 {
  background-color: var(--primary-accent);
}
.user-bg-2 {
  background-color: var(--secondary-accent);
}
.user-bg-3 {
  background-color: var(--quaternary-accent);
}
.user-bg-4 {
  background-color: var(--quinary-accent);
}
.user-bg-5 {
  background-color: var(--additional-1-accent);
}